* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: white;
}


.main-page-title {
  background-color: #2a2829;
  color: white;
}

.main-page-title h1 {
  margin: 0;
  padding: 6rem 0 6rem 4rem;
  font-size: 5rem;
  /* 设置行宽 */
  line-height: 8rem;

}

.main-page-1 {
  background-color: #E0E0DB;
  display: flex;
  flex-direction: row;
}

.main-page-1-title-box{
  font-size: 2rem;
  padding: 2rem 0 0 4rem;
}

.main-page-1-paragraph-box {
  width: 100%;
  max-width: 50rem;
  font-size: 1rem;
  padding: 0 4rem;
  width: auto;
  line-height: 2.5rem;
}

.main-page-1-paragraph-box p {
  margin: 3rem 0;
}

.main-page-1-btn {
  width: 15rem;
  height: 4rem;
  margin: 2rem 4rem;
  border: none;
  color: white;
  background-color: #253551;
  cursor: pointer;
}

.main-page-1-btn:hover {
  background-color: #253551d2;
  color: white;
}

.main-page-1-right {
  width: 20rem;
  height: 20rem;
  margin: 5rem 3rem;
}

.main-page-1-right p {
  font-size: 1rem;
  margin: 1rem;
}