* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-title-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main-title {
    padding: 20px 0 20px 40px;
    width: 300px;
    text-align: center;
}

.main-title-text {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    animation: text-animation 3s forwards;
}

@keyframes text-animation {
    from {
        letter-spacing: -20px;
        filter: blur(10px);
    }

    to {
        letter-spacing: 0px;
        filter: blur(0);
    }
}

.main-title-describe {
    color: gray;
    padding: 30px 0;
    font-style: italic;
}

body {
    background-color: #f5f5f5;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.content {
    background-color: white;
}

.page-title h1 {
    text-align: center;
    padding: 20px 0;
}

.search-box {
    width: 300px;
    padding: 5px 20px;
    text-align: center;
    position: relative;
    margin: 20px auto 40px;
}

.search-input {
  width: 100%;
  height: 40px;
  padding: 20px 15px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  letter-spacing: 2px;
  font-size: 15px;
}

.search-input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: 5px 5px 0px black;
}

#search-keyword {
    height: 25px;
}

.search-result-list {
    list-style: none;
    padding-bottom: 10px;
}

.search-result-list li {
    border: 2px solid #2a2a2a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}

.search-result-list li:hover {
    transform: scale(1.02);
}

.search-result-list li p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
    font-size: 15px;
}

.page-back-btn {
    width: 100px;
    height: 30px;
    border: #2a2a2a 2px solid;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    transition: all .5s;
    cursor: pointer;
    margin: 0 15px;
    float: right;
}

.page-back-btn:hover {
    background-color: #2a2a2a;
    color: white;
}

.result-item {
    margin: 8px 13px;
}

.result-item-label {
    font-weight: bold;
    font-size: 18px;
}

.result-item span {
    font-size: 18px;
}

.oae-hierarchy-box {
    overflow-x: auto;
    border: 1px solid #2a2a2a;
    border-radius: 15px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.oae-hierarchy-box ul {
    list-style: none;
    padding-left: 15px;
}

.oae-hierarchy-box li {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
}


