* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-title-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main-title {
    padding: 20px 0 20px 40px;
    width: 300px;
    text-align: center;
}

.main-title-text {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    animation: text-animation 3s forwards;
}

@keyframes text-animation {
    from {
        letter-spacing: -20px;
        filter: blur(10px);
    }

    to {
        letter-spacing: 0px;
        filter: blur(0);
    }
}

.main-title-describe {
    color: gray;
    padding: 30px 0;
    font-style: italic;
}

body {
    background-color: #f5f5f5;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.content {
    background-color: white;
}



.vaccine-detail-box {
    margin: 0 auto;
    box-sizing: border-box;
    border: #242424 3px solid;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 10px 60px 40px;

}

.vaccine-detail-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    color: #242424;
    background-color: white;
    padding: 10px;
}

.vaccine-detail-item {
    display: flex;
    flex-direction: row;
}

.vaccine-detail-label {
    outline: white 1px solid;
    background-color: #242424;
    color: white;
    width: 20%;
    text-align: center;
    padding: 7px;
}

.vaccine-detail-value {
    background-color: white;
    color: black;
    border: black 2px solid;
    outline: white 1px solid;
    width: 80%;
    text-align: center;
    padding: 7px;
}

.vaccine-adverse-box {
    column-count: 3;
    column-gap: 20px;
    padding: 15px 5px;
}

.search-result-item {
    border: #2A2829 3px solid;
    border-radius: 10px;
    box-shadow: 2px 10px 20px -18px;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .8s;
    break-inside: avoid-column;
    cursor: pointer;
    height: fit-content;
    margin-bottom: 30px;
}

.search-result-item:hover {
    transform: scale(1.01);
}

.search-result-item .title-box {
    background-color: #242424;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-weight: bold;
}

.search-result-item .title {
    font-size: 23px;
    margin-right: 8%;
}

.search-result-item .sub-title {
    font-size: 10px;
}

.search-result-item .item-label {
    font-weight: bold;
    margin: 10px;
}

.search-result-item .item-long-text {
    padding: 10px;
    margin: 10px 5px;
    font-size: 17px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result-item .tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.search-result-item .tag-item {
    background-color: #2A2829;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 5px;
    color: white;
    max-width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    padding: 15px;
}
