* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-title-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main-title {
    padding: 20px 0 20px 40px;
    width: 300px;
    text-align: center;
}

.main-title-text {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    animation: text-animation 3s forwards;
}

@keyframes text-animation {
    from {
        letter-spacing: -20px;
        filter: blur(10px);
    }

    to {
        letter-spacing: 0px;
        filter: blur(0);
    }
}

.main-title-describe {
    color: gray;
    padding: 30px 0;
    font-style: italic;
}

body {
    background-color: #f5f5f5;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.content {
    background-color: white;
}



.vaccine-detail-box {
    margin: 0 auto;
    box-sizing: border-box;
    border: #242424 3px solid;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    padding: 10px 60px 40px;

}

.vaccine-detail-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    color: #242424;
    background-color: white;
    padding: 10px;
}

.vaccine-detail-item {
    display: flex;
    flex-direction: row;
}

.vaccine-detail-label {
    outline: white 1px solid;
    background-color: #242424;
    color: white;
    width: 20%;
    text-align: center;
    padding: 7px;
}

.vaccine-detail-value {
    background-color: white;
    color: black;
    border: black 2px solid;
    outline: white 1px solid;
    width: 80%;
    text-align: center;
    padding: 7px;
}

.vaccine-adverse-box {
    height: 100px;
}