* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

.content {
    background-color: white;
}

.top-title-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.main-title {
    padding: 20px 0 20px 40px;
    width: 300px;
    text-align: center;
}

.main-title-text {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    animation: text-animation 3s forwards;
}

@keyframes text-animation {
    from {
        letter-spacing: -20px;
        filter: blur(10px);
    }

    to {
        letter-spacing: 0px;
        filter: blur(0);
    }
}

.main-title-describe {
    color: gray;
    padding: 30px 0;
    font-style: italic;
}

.main-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px 0;
}

#vaers-title {
    width: auto;
    padding: 5px 10px;
}

.vaers-search-form {
    border: 2px solid #2A2829;
}

.form-title {
    padding: 5px 10px;
    background-color: #2A2829;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    /* 字体大小 */
    font-size: 18px;
}

.form-item {
    margin: 0 20px;
}

.search-box {
    margin: 10px 20px;
    border: 3px solid black;
    width: min-content;
    border-radius: 5px;
    height: 200px;
    box-sizing: content-box;
}

.search-keyword-box {
    display: flex;
    flex-direction: row;
    width: 400px;
    /* 添加下邊框 */
    border: 1px solid black;
    height: 20%;
}

.search-input {
    width: 80%;
    border-style: none;
}

.search-button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    height: auto;
    font-size: 13px;
    padding: 5px 10px;
    margin: auto;
    cursor: pointer;
    color: white;
}

.search-result-box {
    height: 80%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-result-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto;
}

.search-result-item {
    padding: 2px 10px;
}

.search-result-item:hover {
    background-color: rgb(180, 180, 180);
}

.search-result-item.active {
    background-color: rgb(180, 180, 180);
}

.vaers-submit {
    width: 100%;
    /* 子元素居中 */
    display: flex;
    justify-content: center;
    padding: 10px;
}

#vaers-submit-button {
    font-weight: bold;

    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

#vaers-submit-button .box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
}

#vaers-submit-button .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

#vaers-submit-button .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

#vaers-submit-button .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#vaers-submit-button .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

#vaers-submit-button .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

#vaers-submit-button:hover {
    transform: translateY(-1px);
}

.vaers-search-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border: #262626 2px solid;
}

.vaers-result-table {
    width: 100%;
    border-collapse: collapse;
}

.vaers-result-table th,
.vaers-result-table td {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: left;
}

.vaers-result-table th {
    background-color: #262626;
    font-weight: bold;
    color: white;
    /* 字体大小 */
    font-size: 18px;
}

.vaers-pagination-box {
    width: min-content;
    margin: 10px auto;
}

.spinner {
    margin: 20px auto;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

.pagination-box {
    display: flex;
    justify-content: center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #2A2829;
    color: white;
    border: 1px solid #2A2829;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}